<br>
<div id="athleteList" *ngIf="!selected">
  <hr>
  <table class="table-striped table table-hover">
    <thead>
      <tr>
        <td>Country</td>
        <td>Name</td>
        <td>Events</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let athlete of athletes" (click)="displayAthlete(athlete)">
        <td>{{athlete.country.name}}</td>
        <td>{{athlete.fname}} {{athlete.lname}}</td>
        <td>{{athlete.athleteEvents[0].sportEvent?.sport?.name}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selected">
  <img src="{{selected.photoURL}}" alt="athlete picture" width="20%" height="20%"/><br><br>
  <h1>{{selected.fname}} {{selected.lname}}
    <a href="{{selected.socialMediaURL}}" target="_blank"><i class="bi bi-person-circle"></i></a></h1>
  <h5>DOB: {{selected.dateOfBirth | date: "longDate"}}</h5>

  <!-- CHECK ENTITY FOR JSON RELATIONSHIP -->
   <h5>Country: {{selected.country.name}}</h5>
  <div style="list-style: none;" *ngFor="let event of selected.athleteEvents">

   <h5>Event: {{event.sportEvent?.sport?.name}}</h5>
  </div>
  <button class="btn btn-success me-1" (click)="selected = null">View All Athletes</button>
</div>
