<h1>Welcome to League Olympia!</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <p class="lead">
        Welcome to League Olympia, the premier fantasy league application that combines the thrill of competition, strategic athlete selection, and the potential for big winnings. Create your own league, become the commissioner, and invite friends and fellow sports enthusiasts to join in the excitement!
      </p>
      <!-- Rest of the paragraph content goes here -->
    </div>
  </div>
</div>

  <div style="text-align: center;">
    <button *ngIf="!loggedIn()" class="btn btn-success" [routerLink]="['/register']">Sign-Up</button>
  </div>
