<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <a class="navbar-brand" [routerLink]="['/todo']">Todo List</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]='isCollapsed'>
        <div class="navbar-nav align-items-center">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
          <a class="nav-link" [routerLink]="['/about']">About</a>
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          <a class="nav-link" [routerLink]="['/register']" *ngIf="!loggedIn()">Sign-Up</a>
          <a class="nav-link" *ngIf="!loggedIn()"><app-login></app-login></a>
          <a class="nav-link" *ngIf="loggedIn()"><app-logout></app-logout></a>
        </div>
      </div>
    </div>
  </div>
</nav>
