<div style="min-height: 100vh" class="background-image">
  <!-- <div class="flier">
  <img src="https://www.pngkey.com/png/detail/85-856878_olympics-high-quality-olympic-rings-no-background.png"  >
</div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>About Us</h1>
        <br />
      </div>
    </div>
  </div>

  <h3 style="text-align: center">
    League Olympia: The Ultimate Fantasy League Experience
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <p
          style="
            background-color: rgba(255, 255, 255, 0.5);
            border: 5px;
            border-radius: 10px;
            padding: 5px;
          "
          class="lead"
        >
          Our app provides a seamless and user-friendly experience for avid
          sports fans to create and join leagues, pick their favorite athletes
          to compete, and potentially win big by predicting the best performers.
          With our app, you have the power to assemble your dream team from a
          pool of talented athletes participating in the Olympics. Strategize,
          analyze performance metrics, and make calculated decisions to maximize
          your chances of success. Not only does our app offer the thrill of
          competing for the top spot in your league, but we also provide an
          additional layer of excitement through side wagers with friends.
          Challenge your buddies and add an extra dose of friendly rivalry by
          betting on the outcome of each event. Whether it's a nail-biting
          sprint, a gravity-defying dive, or an adrenaline-pumping race, our app
          allows you to put your predictions to the test and potentially earn
          bragging rights and some extra cash along the way. Join our Olympic
          Fantasy League app today and immerse yourself in the world of Olympic
          sports like never before. It's time to showcase your sports knowledge,
          engage in friendly competition, and experience the thrill of victory
          as your chosen athletes make their mark on the global stage. Get ready
          to be captivated by the spirit of the Olympics and enjoy an
          unparalleled fantasy sports experience at your fingertips.
        </p>
        <!-- Rest of the paragraph content goes here -->
      </div>
    </div>
  </div>

  <hr />
  <h3>League Olympia Rules:</h3>
  <br />
  <div
    style="
      background-color: rgba(255, 255, 255, 0.5);
      border: 5px;
      border-radius: 10px;
      padding: 5px;
    "
  >
    <ol>
      <li>
        <h6>League Creation:</h6>
        <p>Any registered user can create a league in League Olympia.</p>
        <p>
          The league creator becomes the commissioner and has administrative
          control over the league.
        </p>
      </li>
      <li>
        <h6>League Events:</h6>
        <p>
          The commissioner selects a set of events for the league members to
          compete in.
        </p>
        <p>
          Events can be chosen from various sports, such as athletics, swimming,
          cycling, etc.
        </p>
        <p>
          Each event will have a predetermined list of available athletes to
          choose from.
        </p>
      </li>
      <li>
        <h6>Joining the League:</h6>
        <p>
          Other users can join the league by invitation or through public league
          listings.
        </p>
        <p>Once joined, users become players in the league.</p>
      </li>
      <li>
        <h6>Athlete Selection:</h6>
        <p>
          Players select an athlete from the list of available athletes for each
          event.
        </p>
        <p>Athlete selection is limited to one athlete per event.</p>
      </li>
      <li>
        <h6>League Buy-In:</h6>
        <p>
          Players have the option to buy into the league by contributing a
          predetermined amount of money.
        </p>
        <p>
          The buy-in creates a money pot that will be distributed among the
          winners.
        </p>
      </li>
      <li>
        <h6>Side Wagers:</h6>
        <p>
          Players can engage in side wagers with other league members on
          specific events and athletes.
        </p>
        <p>
          Side wagers are additional bets placed on top of the league buy-in and
          are settled separately between players.
        </p>
      </li>
      <li>
        <h6>Scoring:</h6>
        <p>
          The league is scored based on the athletes' finish results in each
          event.
        </p>
        <p>
          Athletes receive points based on their finishing positions: 1st place
          earns one point, 2nd place earns two points, and so on.
        </p>
        <p>
          The scores of the combined finishes for all the athletes picked by
          each player across all events are calculated.
        </p>
      </li>
      <li>
        <h6>Determining the Winner:</h6>
        <p>
          The winner of the league is the player with the lowest combined score
          from their athletes' finishes across all events.
        </p>
        <p>
          In the event of a tie, the tiebreaker can be determined by the
          commissioner or predefined rules.
        </p>
      </li>
      <li>
        <h6>Prize Distribution:</h6>
        <p>
          At the end of the league, the money pot is distributed among the
          winners based on the league's predetermined payout structure.
        </p>
        <p>
          The commissioner is responsible for ensuring fair distribution of the
          prize money.
        </p>
      </li>
      <li>
        <h6>Fair Play and Conduct:</h6>
        <p>
          All league members are expected to adhere to fair play and
          sportsmanship.
        </p>
        <p>
          Any form of cheating, collusion, or unsportsmanlike behavior may
          result in disqualification or removal from the league.
        </p>
      </li>
    </ol>
    <p>
      <em
        >Note: These rules are subject to modification and customization by the
        league commissioner as per the requirements and preferences of the
        league.</em
      >
    </p>
  </div>
  <hr />
  <div
    style="
      background-color: rgba(255, 255, 255, 0.5);
      border: 5px;
      border-radius: 10px;
      padding: 5px;
    "
  >
    <section id="team" class="team-area section-padding">
      <div class="container">
        <div class="section-title text-center">
          <h3>Development Team</h3>
          <p>
            "Unleashing the Power of Java: Our Full Stack Dream Team Delivered
            To You League Olympia!"
          </p>
        </div>

        <div class="container justify-items-center">
          <div class="row">
          <div class="d-flex align-items-center flex-column col-lg-4 mb-4">
            <img
            style="filter: grayscale(1)"
            height="250px"
            width="250px"
            src="https://media.licdn.com/dms/image/C4E03AQFQ7JSnspYZsA/profile-displayphoto-shrink_400_400/0/1519858891638?e=1693440000&v=beta&t=RWqryrNtfqaU5VsVqUhSXzCrWcZw8FbXJbra7LfPOOs"
            alt=""
            />

          <br />

            <h3 class="title">Spencer Williams</h3>
              <span class="post">Java Full-Stack Developer</span>
            <div>

              <a
              class="bi bi-linkedin"
              target="_blank"
              href="https://www.linkedin.com/in/spencer-will/"
              ></a>
              <a
              class="bi bi-github"
              target="_blank"
              href="https://www.github.com/gitspencer/"
              ></a>
                <a
                class="bi bi-envelope-fill"
                href="mailto: srwilliams349@gmail.com"
                ></a>
              </div>

                </div>
                <div class="d-flex align-items-center flex-column col-lg-4 mb-4">
                <img
                  height="250px"
                  width="250px"
                  style="filter: grayscale(1)"
                 src="assets/ryan.png"
                  alt=""
                />
<br>
                <h3 class="title">Ryan Arment</h3>
                <span class="post">Java Full-Stack Developer</span>

                <div>
                <a
                  class="bi bi-linkedin"
                  target="_blank"
                  href="https://www.linkedin.com/in/ryan-arment/"
                ></a>
                <a
                  class="bi bi-github"
                  target="_blank"
                  href="https://www.github.com/MiAmigoRyan/"
                ></a>
                <a
                  class="bi bi-envelope-fill"
                  href="mailto: arment.ryan@gmail.com"
                ></a>
              </div>
              </div>
              <div class="d-flex align-items-center flex-column col-lg-4 mb-4">
                <img
                  height="250px"
                  width="250px"
                  src="https://media.licdn.com/dms/image/D5603AQFnfnstIRLQPg/profile-displayphoto-shrink_400_400/0/1683219317851?e=1693440000&v=beta&t=59mxvxN7IniF1ku0ChN-Xp7MjmXatGgig5eg6QLrFZs"
                  alt=""
                />
<br>
                <h3 class="title">Nick Speidell</h3>
                <span class="post">Java Full-Stack Developer</span>
                <div>
                <a
                  class="bi bi-linkedin"
                  target="_blank"
                  href="https://www.linkedin.com/in/nickspeidell/"
                ></a>
                <a
                  class="bi bi-github"
                  target="_blank"
                  href="https://www.github.com/nspeidell/"
                ></a>
                <a
                  class="bi bi-envelope-fill"
                  href="mailto: nspeidell@gmail.com"
                ></a>
              </div>
              </div>
          </div>
        </div>

          <br/>
        </div>

    </section>
  </div>
</div>
