.social-icon {
  padding: 10px;
  text-align: center;
}
.flier img {
  border: none; /* Removes the border from the image */
  background: none;
}
.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element's speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}
img {
	border: 8px solid #2f302f;
	border-radius: 10px;
	opacity: .9;
  mix-blend-mode: multiply;
}
@keyframes fly {

	/* 98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh)
	} */

	15% {
		transform: translateX(100vw) translateY(-100%)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%)
	}

	40% {
		transform: translateX(-200%) translateY(3vh)
	}

	/* 40.001%, 43% {
		transform: translateX(-200%) translateY(-100%)
	}

	65% {
		transform: translateX(100vw) translateY(50vh)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%)
	}

	95% {
		transform: translateX(10vw) translateY(100vh)
	} */
}
