<br>
<div *ngIf="!selected">
  <button class="btn btn-success me-1" (click)="startLeague()">Create League</button><br><br>
  <div (click)="displayLeague(league)" *ngFor="let league of leagues">
    <h1>{{league.leagueName | uppercase}}</h1> <span>Commissioner: {{league.comissioner?.username}}</span><br><br>
  </div>
</div>

<div *ngIf="selected">
  <img src="{{selected.photoUrl}}" alt="league picture" width="40%" height="40%"/><br><br>
  <h1>{{selected.leagueName | uppercase}}</h1>
  <h3>Buy In: {{selected.buyIn | currency}}</h3>
  <ul *ngFor="let user of selected.usersBoughtIn">
    <li>{{user.firstName}} {{user.lastName}}</li>
    <ul>
      <li *ngFor="let team of selected.teams">
        <div *ngFor="let athleteEvent of team.athleteEvents">
        {{athleteEvent.athlete?.fname}} {{athleteEvent.athlete?.lname}} {{athleteEvent.sportEvent?.sport?.name}} {{athleteEvent.finishResult}}</div>
        {{team.teamName}}</li>
      <li *ngFor="let athlete of user.teams">{{athlete.athleteEvents}}</li>
    </ul>
  </ul>

  <div id="teamList">
    <table class="table-striped table table-hover">
      <thead>
        <tr>
          <td>Venue</td>
          <td>Sport</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sportEvent of selected.sportEvents">
          <td>{{sportEvent.venue}}</td>
          <td>{{sportEvent.sport?.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-success me-1" (click)="selected = null">View All Leagues</button>
  <button class="btn btn-success me-1" (click)="createTeam(selected.id)">Join League</button>
  <!-- <button class="btn btn-danger me-1" (click)="deleteLeague(selected.id)">Delete League</button> -->
</div>
