<br>
<div *ngIf="!selected">
  <h1 style="text-align: center;">Join a League Olympia</h1>
  <div style="display: flex; align-items: center; justify-content: center;">
    <h4 style="margin-right: 1%; display: inline-block;">Click an existing League <em>or</em></h4>
    <button class="btn btn-success me-1" (click)="startLeague()">Create League</button>
  </div>
  <hr>
  <br>

  <div class="row">
    <div (click)="displayLeague(league)" *ngFor="let league of leagues" class="d-flex">
      <div class="col-md-3">
        <img class="" src="{{league.photoUrl}}" alt="league picture" width="180px" height="120px" /><br><br>
      </div>
      <div class="col-md-9">
        <h4>League {{league.id}}: {{league.leagueName | uppercase}}</h4>
        <span><strong>Events: </strong></span>
        <span *ngFor="let sportEvent of league.sportEvents; index as i">{{sportEvent.sport?.name}}{{i ===
          league.sportEvents.length - 1 ? '' : ', '}}</span>
          <br><span><strong>Commissioner: </strong>{{league.comissioner?.username}}</span>
          <br><span style="margin-right: 60%;"><em>Buy In: {{league.buyIn | currency}}</em></span>
          <button class="btn btn-success me-1" (click)="createTeam(league.id)">Join League</button>
          <br>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selected">
    <div class="row">
      <div class="col-md-2">
        <div class="d-flex flex-column">
          <button class="btn btn-success me-1 mb-2" (click)="selected = null">View All Leagues</button>
          <button class="btn btn-success me-1" (click)="createTeam(selected.id)">Join League</button>
        </div>
      </div>
      <div class="col-md-8">
        <h1 style="text-align: center;">{{selected.leagueName | uppercase}}</h1>
        <h2 style="text-align: center;"><em>League Winner: {{(selected.teams | rankTeams) [0].teamName}}!</em></h2>
        <h5 style="text-align: center;">Total Pot: {{selected.buyIn * Number(selected.usersBoughtIn) | currency}}</h5>
        <div style="display: flex; justify-content: center;">
          <img src="{{selected.photoUrl}}" alt="league picture" width="40%" height="40%" />
      </div>
      <div class="col-md-2"></div>
    </div>
    </div>

    <br>
    <div id="scoreboard">
      <h2>Scoreboard</h2>
      <table class="table table-light table-striped table-hover">
        <thead class="table-success">
          <tr>
            <td>Teams</td>
        <td>Manager</td>
        <td>Total Score</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let winner of selected.teams | rankTeams">
        <td>{{winner.teamName}}</td>
        <td>{{winner.user?.firstName}} {{winner.user?.lastName}}</td>
        <td>{{winner.athleteResultSum}}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <h2>Sport Events</h2>
  <div id="teamList">
    <table class="table table-light table-striped table-hover">
      <thead class="table-success">
        <tr>
          <td>Venue</td>
          <td>Sport</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sportEvent of selected.sportEvents">
          <td>{{sportEvent.venue}}</td>
          <td>{{sportEvent.sport?.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <button class="btn btn-success me-1" (click)="selected = null">View All Leagues</button>
</div>
<br><br><br>
