<div class="col-md-6">
  <form class="row g-3">
    <div class="col-md-6">
      <label class="form-label">League Name: </label>
      <input class="form-control" type="text" name="leagueName" [(ngModel)]="newLeague.leagueName"/>
    </div>
    <div class="col-md-12">
      <label class="form-label">Photo URL: </label>
      <input class="form-control" type="text" name="photoUrl" [(ngModel)]="newLeague.photoUrl"/>
    </div>
    <div class="col-md-12">
      <label class="form-check-label">Bets Enabled: </label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="betEnabled" [(ngModel)]="newLeague.betEnabled"/>
      </div>
    </div>
    <div class="col-md-12">
      <label class="form-label">Buy In: </label>
      <input class="form-control" type="text" name="buyIn" [(ngModel)]="newLeague.buyIn"/>
    </div>


    <div class="col-md-12">
      <div ngbDropdown class="dropdown">
        <button ngbDropdownToggle type="button" class="btn btn-outline-success me-1"
        id="dropdownMenuButton1" aria-expanded="false">Sport Event: </button>
        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li (click)="selectSportEvent( sportEvent.id)" ngbDropdownItem *ngFor="let sportEvent of newLeague.sportEvents">
            {{sportEvent.sport?.name}}</li>
          </ul>
        </div>
      </div>


    <!-- <div class="col-md-12" *ngFor="let sportEvent of newLeague.sportEvents; let i = index">
      <label class="form-label">Sport Event {{i + 1}}: </label>
      <input class="form-control" type="text" name="sportEvents" [(ngModel)]="sportEvent"/>
      <select class="form-select" [(ngModel)]="newLeague.sportEventsDropdown[i].name" name="sportDropdown">
        <option *ngFor="let sport of sportEvent.sport" [value]="sport.name">{{ sport.name }}</option>
      </select>
    </div> -->

    <div class="col-md-12">
    <!-- <button class="btn btn-success me-1" (click)="addSportInput()">Add a Sport</button> -->
    <button class="btn btn-success me-1" (click)="createALeague(newLeague)">Create League</button>
    </div>
  </form>
  </div>
